<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="album">
	<insert id="addAlbum" parameterType="AlbumDTO">
		insert into album (user_id, album_id)
		values(#{user_id}, #{album_id})
	</insert>
	
	<select id="albumAll" parameterType="String" resultType="AlbumDTO">
		select * from album where user_id = #{user_id}
	</select>
	
	<select id="albumIdAll" parameterType="String" resultType="String">
		select album_id from album where user_id = #{user_id}
	</select>
	
	<update id="updateAlbum" parameterType="AlbumDTO">
		update album
		set
		album_id = #{album_id}
		where user_id = #{user_id}
	</update>
	
	<delete id="deleteAlbum" parameterType="AlbumDTO">
		delete from album 
		where user_id = #{user_id} 
        and album_id = #{album_id}
	</delete>
	

</mapper>