<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="likes">
	<insert id="addLikes" parameterType="LikesDTO">
	    insert into likes (like_id, user_id, song_id)
	    values (like_id_seq.nextval, #{user_id}, #{song_id})
	</insert>
	
	<!-- 좋아요 중복 확인 쿼리 -->
	<select id="isLikeExists" parameterType="LikesDTO" resultType="int">
	    SELECT COUNT(*) FROM likes WHERE user_id = #{user_id} AND song_id = #{song_id}
	</select>
	
	<select id="likesAll" parameterType="String" resultType="String">
		select song_id from likes where user_id = #{user_id}
	</select>
	
	<delete id="deleteLikes" parameterType="LikesDTO">
		delete from likes where user_id = #{user_id} and song_id = #{song_id}
	</delete>
</mapper>