<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="playlist">
	<insert id="addPlaylist" parameterType="PlaylistDTO">
	    INSERT INTO playlist (playlist_id, user_id, image, title, description, creation_date)
	    VALUES (playlist_id_seq.nextval, #{user_id, jdbcType=VARCHAR}, 
	    #{image, jdbcType=VARCHAR}, #{title}, #{description}, sysdate)
	</insert>

	<select id="playlistAll" parameterType="String" resultType="PlaylistDTO">
		select * from playlist where user_id = #{user_id}
	</select>
	
	<select id="playlistId" parameterType="int" resultType="PlaylistDTO">
		select * from playlist where playlist_id = #{playlist_id}
	</select>
	
	<select id="playId" parameterType="String" resultType="int">
	    select playlist_id 
	    from (
	        select playlist_id 
	        from playlist 
	        where user_id = #{user_id}
	        order by creation_date desc
	    )
	    where ROWNUM = 1
	</select>

	
	<update id="updatePlaylist" parameterType="PlaylistDTO">
		update playlist
		set
		title = #{title}
		where playlist_id = #{playlist_id}
	</update>
	
	<delete id="deletePlaylist" parameterType="int">
		delete from playlist where playlist_id = #{playlist_id}
	</delete>
</mapper>