<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="artist">
    <insert id="addArtist" parameterType="ArtistDTO">
        insert into artist (user_id, artist_id)
        values(#{user_id}, #{artist_id})
    </insert>
	
	<select id="artistAll" parameterType="String" resultType="ArtistDTO">
		select * from artist where user_id = #{user_id}
	</select>
	
	<select id="artistId" parameterType="ArtistDTO" resultType="String">
		select artist_id from artist where user_id = #{user_id} and artist_id = #{artist_id}
	</select>
	
	<select id="artistIdAll" parameterType="String" resultType="String">
		select artist_id from artist where user_id = #{user_id}
	</select>
	
	<update id="updateArtist" parameterType="ArtistDTO">
		update artist
		set
		artist_id = #{artist_id}
		where user_id = #{user_id}
	</update>
	
    <delete id="deleteArtist" parameterType="ArtistDTO">
        delete from artist 
        where user_id = #{user_id} 
        and artist_id = #{artist_id}
    </delete>
</mapper>