<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="member">
	<insert id="signupPro" parameterType="MemberDTO">
 		INSERT INTO member (grade, user_id, password, user_name, email, birthdate, join_date, genre)
    	VALUES (#{grade}, #{user_id}, #{password}, #{user_name}, #{email},#{birthdate}, sysdate, #{genre})
	</insert>
	
	<select id="findById" parameterType="String" resultType="CustomMemberDetails">
		select user_id, grade as authority, password, user_name as name from member where user_id = #{user_id}
	</select>
	
	<select id="findByName" parameterType="String" resultType="MemberDTO">
		select * from member 
		where user_name = #{user_name}
		AND email = #{email}
	</select>
	
	<select id="findEdit" parameterType="String" resultType="MemberDTO">
		select * from member 
		where user_id = #{user_id}
	</select>

	<select id="findPasswordByUserId" parameterType="String" resultType="String">
		select password from member 
		where user_id = #{user_id}
	</select>
 </mapper>