@charset "UTF-8";

/* 앨범 상세 페이지 스타일 */
.album-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.album-cover {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.album-text {
    flex: 1;
}

.artist-name {
    font-size: 1.2em;
    color: var(--highlight-color);
    margin-bottom: 10px;
}

.release-date, .genre {
    font-size: 0.9em;
    color: var(--text-color);
    opacity: 0.7;
    margin-bottom: 5px;
}

.track-list {
    list-style-type: none;
    padding: 0;
}

.track-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.track-info {
    flex: 1;
}

.track-title {
    font-weight: bold;
}

.track-duration {
    font-size: 0.9em;
    color: var(--text-color);
    opacity: 0.7;
}

.play-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #1ed760;
}